.container{
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 0 10px 0 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-container{
    padding: 10px;
    align-self: center;
}

nav {
    background-color: linear-gradient(135deg, #2c3e50, #1e272e);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  a:hover {
    color: #ddd;
  }

  .active {
    text-decoration: underline;
  }
  