.dashboard-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #2c3e50, #1e272e);
    /* padding: 20px; */
}

.container{
    display: flex;
    flex-direction: column;
    position: inherit;
    height: 90vh;
    width: 100vw;
    bottom: 0;
}

.titulo{
    align-self: center;
}

.filtro{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas dinámicas */
    gap: 20px; /* Espacio entre tarjetas */
    width: 100vw;
    margin-top: 20px;
    /* overflow-y: auto; */
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
    text-align: center;
    margin: 10px auto;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-body {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.card-footer {
    margin-top: 15px;
    font-size: 14px;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card-footer a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #007bff;
    color: white;
    transition: background 0.3s;
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background: #0056b3;
}

h2{
    color: white;
}

button {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    top: 10px;
}

button:hover {
    background: #0056b3;
}