<div class="dashboard-bg">
    <div class="container">
        <div class="titulo">
            <h2>Chuck Norris API</h2>
        </div>
        <div class="filtro">  
            <h4 style="color: white; margin-right: 5px;">Filter a theme!</h4>
            <select style="height: 20px;" [(ngModel)]="selectedCategory" (ngModelChange)="fetchChuck()">
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="cards" *ngIf="chuckJson && chuckJson.length > 0">
            <div *ngFor="let joke of chuckJson" class="card">
                <div class="card-header">
                    <img [src]="joke.icon_url" alt="Chuck Norris" class="avatar">
                    <h3>Chuck Norris</h3>
                </div>
                <div class="card-body">
                    <p>{{ joke.value }}</p>
                </div>
                <div class="card-footer">
                    <span>Updated at: {{ joke.updated_at | date:'medium' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
  