<div class="login-container">
    <div class="login-box">
        <div class="box-content">
            <form (submit)="login()">
                <label>User:</label>
                <input type="text" [(ngModel)]="user" name="user" required>

                <label>Password:</label>
                <input type="text" [(ngModel)]="password" name="user" required>

                <button type="submit">Log in</button>

                <p *ngIf="mensaje" class="error">{{mensaje}}</p>
            </form>
        </div>
    </div>
</div>