<div class="login-container">
    <div class="login-box">
        <!-- Login -->
        <div *ngIf="!isSignUp && !isForgot">
            <form (submit)="login()">
                <label>Email:</label>
                <input type="text" [(ngModel)]="email" name="email" required>
                
                <label>Password:</label>
                <input type="password" [(ngModel)]="password" name="password" required>
                
                <button type="submit">Log in</button>
                <button *ngIf="showForgot" type="button" (click)="mensaje='';isForgot=true">Forgot password</button>
                
                <p *ngIf="mensaje" class="error">{{mensaje}}</p>
            </form>
            <p style="color: white; margin: 12px;" (click)="isSignUp=true;">Don't have an account? <span style=" cursor: pointer; text-decoration: underline;">Sign up</span></p>
            <p style="color: white; margin: 12px;">or</p>
            <p style="color: white; margin: 12px; cursor: pointer; text-decoration: underline;" (click)="guest()">Continue as guest</p>
        </div>
        <!-- Sign Up -->
        <div *ngIf="isSignUp && !isForgot">    
            <form (submit)="signup()">
                <label>User:</label>
                <input type="text" [(ngModel)]="username" name="user" required>

                <label>Email:</label>
                <input type="text" [(ngModel)]="email" name="email" required>
                
                <label>Password:</label>
                <input type="password" [(ngModel)]="password" name="password" required>
                
                <label>Confirm password:</label>
                <input type="password" [(ngModel)]="password2" name="password2" required>
                
                <button type="submit">Sign up</button>
                
                <p *ngIf="mensaje" class="error">{{mensaje}}</p>
            </form>
            <p style="color: white; margin: 12px;" (click)="isSignUp=false;">Already have an account? <span style=" cursor: pointer; text-decoration: underline;">Login</span></p>
            <p style="color: white; margin: 12px;">or</p>
            <p style="color: white; margin: 12px; cursor: pointer; text-decoration: underline;" (click)="guest()">Continue as guest</p>
        </div>
        <!-- Recover password -->
        <div *ngIf="!isSignUp && showForgot && isForgot">
            <form (submit)="recover()">
                <label>email:</label>
                <input type="text" [(ngModel)]="email" name="email" required>
                
                <button type="submit">Send password to email</button>
                
                <!-- <p *ngIf="mensaje" class="error">{{mensaje}}</p> -->
            </form>
            <!-- <p style="color: white; margin: 12px;" (click)="isSignUp=true">Don't have an account? <span style=" cursor: pointer; text-decoration: underline;">Sign up</span></p>
            <p style="color: white; margin: 12px;">or</p>
            <p style="color: white; margin: 12px; cursor: pointer; text-decoration: underline;" (click)="guest()">Continue as guest</p> -->
        </div>
    </div>
</div>